.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  height: 120px;
}

.example-form {
  display: flex;
  align-items: center;
  // background-color: red;
  button {
    margin-left: 5px;
  }
}
