<mat-toolbar class="pok-container">
  <mat-card
    class="pok-card"
    *ngFor="
      let pokemon of pokemons
        | paginate
          : { itemsPerPage: 8, currentPage: page, totalItems: allPokemons }
    "
  >
    <img
      [src]="pokemon['sprites']['other']['dream_world']['front_default']"
      alt="Pokemon"
    />
    <h1>{{ pokemon["name"] }}</h1>
    <h4><b>#0</b>{{ pokemon["id"] }}</h4>

    <table>
      <tr>
        <td>
          {{ pokemon["stats"][0]["stat"]["name"] }}
        </td>
        <td>
          {{ pokemon["stats"][0]["base_stat"] }}
        </td>
      </tr>
      <tr>
        <td>
          {{ pokemon["stats"][1]["stat"]["name"] }}
        </td>
        <td>
          {{ pokemon["stats"][1]["base_stat"] }}
        </td>
      </tr>
      <tr>
        <td>
          {{ pokemon["stats"][2]["stat"]["name"] }}
        </td>
        <td>
          {{ pokemon["stats"][2]["base_stat"] }}
        </td>
      </tr>
      <tr>
        <td>
          {{ pokemon["stats"][3]["stat"]["name"] }}
        </td>
        <td>
          {{ pokemon["stats"][3]["base_stat"] }}
        </td>
      </tr>
      <tr>
        <td>
          {{ pokemon["stats"][4]["stat"]["name"] }}
        </td>
        <td>
          {{ pokemon["stats"][4]["base_stat"] }}
        </td>
      </tr>
      <tr>
        <td>
          {{ pokemon["stats"][5]["stat"]["name"] }}
        </td>
        <td>
          {{ pokemon["stats"][5]["base_stat"] }}
        </td>
      </tr>
    </table>
    <mat-card class="moves-container">
      <h1>Moves</h1>
      <div class="moves">
        <span *ngFor="let test of pokemon.moves; let k = index">{{
          test["move"]["name"]
        }}</span>
      </div>
    </mat-card>
  </mat-card>
</mat-toolbar>

<pagination-controls
  (pageChange)="page = $event; pokemons = []; showConfig()"
></pagination-controls>
