<div class="pok-container">
  <div
    class="pok-card"
    *ngFor="
      let pokemon of pokemons
        | paginate
          : { itemsPerPage: 8, currentPage: page, totalItems: allPokemons }
    "
  >
    <img [src]="pokemon.sprites.front_default" alt="Pokemon" />
    <h3>{{ pokemon.name }}</h3>
    <h4>{{ pokemon.id }}</h4>
    <div *ngFor="let test of pokemons; let i = index">
      <span>{{ test.stats[i]["stat"]["name"] }}</span>
      <!-- is not correct -->
      <span>{{ test.stats[i].base_stat }}</span>
    </div>
  </div>
</div>

<pagination-controls
  (pageChange)="page = $event; pokemons = []; showConfig()"
></pagination-controls>
