<mat-toolbar class="pok-container">
  <mat-card
    class="pok-card"
    *ngFor="
      let pokemon of pokemons
        | paginate
          : { itemsPerPage: 8, currentPage: page, totalItems: allPokemons }
    "
  >
    <img
      [src]="pokemon['sprites']['other']['dream_world']['front_default']"
      alt="Pokemon"
    />
    <h3>{{ pokemon["name"] }}</h3>
    <h4>{{ pokemon["id"] }}</h4>
    <table>
      <tr>
        <td>
          <span>{{ pokemon["stats"][0]["stat"]["name"] }}</span>
        </td>
        <td>
          <span>{{ pokemon["stats"][0]["base_stat"] }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>{{ pokemon["stats"][1]["stat"]["name"] }}</span>
        </td>
        <td>
          <span>{{ pokemon["stats"][1]["base_stat"] }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>{{ pokemon["stats"][2]["stat"]["name"] }}</span>
        </td>
        <td>
          <span>{{ pokemon["stats"][2]["base_stat"] }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>{{ pokemon["stats"][3]["stat"]["name"] }}</span>
        </td>
        <td>
          <span>{{ pokemon["stats"][3]["base_stat"] }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>{{ pokemon["stats"][4]["stat"]["name"] }}</span>
        </td>
        <td>
          <span>{{ pokemon["stats"][4]["base_stat"] }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span>{{ pokemon["stats"][5]["stat"]["name"] }}</span>
        </td>
        <td>
          <span>{{ pokemon["stats"][5]["base_stat"] }}</span>
        </td>
      </tr>
    </table>
  </mat-card>
</mat-toolbar>

<pagination-controls
  (pageChange)="page = $event; pokemons = []; showConfig()"
></pagination-controls>
