.pok-container {
  background-color: rgb(241, 209, 209);
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  overflow-y: auto;
}

.pok-card {
  width: 300px;
  height: 400px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  img {
    width: 100px;
    height: auto;
  }
  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
pagination-controls {
  text-align: center;
}
